
<h2>Reporting.</h2>
<div>
	<p>
		Run a report.
	</p>
</div>

<div>
	
	<%= form_tag( "/reports" ) do %>
		<p>
			<%= label_tag :portfolio_name %>	
			<%= text_field_tag :portfolio_name, params[:portfolio_name] %>
		</p>
		<p>
			<%= label_tag :start_date %>	
			<%= date_field_tag :start_date, params[:start_date] %>
		</p>
		<p>
			<%= label_tag :end_date %>	
			<%= date_field_tag :end_date, params[:end_date]  %>
		</p>
		
		<%= submit_tag "Create" %>
	<% end %>
		
</div>

<% if @report %>
	<div> 
		REPORT RESULTS FOR <%= @report.portfolio.name.inspect %> FROM <%= @report.start_date.inspect %> TO <%= @report.end_date.inspect %>
	</div>
	<div>
		<i> The first performance date is the day after start. Eg, to run for Q1, need to run 12/31 - 3/31.</i>
	</div>

	<div>
		Total return: <%= percenticize @report.total_results[:performance]-1 %>
	</div>
	<div>
		Summed contributions: <%= percenticize @report.results.values.sum { |result| result[:contribution] } %>
	</div>

	<div>
		<p class="table_title">Results Table by Name:</p>
		<%= print_table( results_by_tag( @report ) ) %>
	</div>

	<div>
		<p class="table_title">Results Table by Performance:</p>
		<%= print_table( results_by_performance( @report ) ) %>
	</div>

	<div>
		<p class="table_title">Results Table by Contribution:</p>
		<%= print_table( results_by_contribution( @report ) ) %>
	</div>

	<div>
		<p class="table_title">Results Table by Efficiency:</p>
		<%= print_table( results_by_efficiency( @report ) ) %>
	</div>
	
<% end %>
<br>

<%# link_to 'New Report', new_report_path %>

<%= javascript_tag defer: 'defer' do -%>
	$(function() {
	  $('[type=date]').datepicker();
	});
<% end %>